# Agent OS System Config
.agent-plugins/config.env
.agent-plugins/*.env
.agent/tmp/
.agent/state/
.agent/locks/
.agent/logs/
.agent/.*
.agent/*.db
.gitbrain*.db
*.pid

# IDE & Runtime caches
.vscode/
__pycache__/
*.pyc

# Local envrc / direnv
.direnv/
.envrc
.nomos/cache.db*
.nomos/*.db*

# Node and TS Build Artifacts
node_modules/
visualizer/*.js
